@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: lavender;
}

.container {
  margin: 0 auto;
  padding: 20px;
  background: transparent;
  width: 100%;
  max-width: 1350px;
  overflow-x: hidden;
  overflow-y: auto;
}

.box1,
.box2,
.box3 {
  display: block;
  padding: 16px 0;
}

.font {
  font-size: 24px;
  font-weight: 600;
  color: #001325;
  padding: 16px 0 0;
  margin: 0;
}

.text {
  font-size: 16px;
  text-align: left;
  padding: 2px 0 0;
  display: inline;
  font-size: 16px;
  color: #5c6873;
  text-size-adjust: 13.3px;
}

.Nyka-gf-card {
  display: flex;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 16px 0 0;
  text-align: center;
  flex-wrap: wrap;
  gap: 40px;
}

#img1,
#img2 {
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
  opacity: 0.7;
  object-fit: cover;
}

#img1:hover,
#img2:hover {
  transform: scale(1.1);
  opacity: 1;
  filter: drop-shadow(0 0 10px #333);
}

.Discover-nyka {
  padding: 12px 0 14px;
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 1400px;
  flex-direction: row;
  gap: 20px;
}

.slide {
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
}

.slide > img {
  cursor: pointer;
  border-radius: 17px;
  padding: 10px;
  width: 402px;
  opacity: 0.8;
  object-fit: cover;
  height: 232px;
}

.slide > img:hover {
  transform: scale(1.1);
  opacity: 1;
  filter: drop-shadow(0 0 10px #333);
}

.callout-text {
  position: absolute;
  display: flex;
  color: white;
  justify-content: center;
  bottom: 1rem;
  left: 1rem;
}

.summer-beauty {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 40px;
  margin-top: 16px;
}

.summer-beauty > img {
  width: 252px;
  height: 212px;
  object-fit: cover;
  cursor:pointer;
  border-radius: 8px;
  opacity: 0.7;
  transition: transform 0.2s ease-in-out;
}

.summer-beauty > img:hover {
  transform: scale(1.1);
  opacity: 1;
  filter: drop-shadow(0 0 10px #333);
}

@media screen and (max-width: 768px) {
  .Nyka-gf-card {
    flex-direction: column;
    align-items: center;

  }
  #img1,
  #img2 {
    width:100%;
  }
  .Discover-nyka {
    flex-direction: column;
    align-items: center;
  }
  .summer-beauty {
    flex-direction: column;
    align-items: center;
  }
  .summer-beauty > img {
    width:100%;
  }
  .slide {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .font {
    font-size: 20px;
  }
}
